<h1>Updating</h1>

<form class="" action="/things/1" method="post">

<!-- The next line is so server knows we updating -->
  <input type="hidden" name="_method" value="put">

  <input type="text" name="name" value="">
  <textarea name="image_url" rows="8" cols="80"></textarea>
  <button type="submit" name="button">Update</button>

</form>
