<h1>NEW</h1>

<form class="" action="/things" method="post">
  <!-- <input type="text" name="name" value="">
  <textarea name="image_url" rows="8" cols="80"></textarea> -->
  <button type="submit" name="button">Create</button>
</form>
